@import "./reset.scss";
@import "./typography.scss";
@import "./constants.scss";

#root {
  background-color: $default-background-color;
  transition: 0.3s;
}

body {
  height: 100%;
  position: relative;
}

a {
  color: $inactive-color;
  text-decoration: none;
}

.main {
  color: $default-text-color;
  background-color: $default-background-color;
  margin: auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  display: block;
  position: relative;
  overflow-y: hidden;
  padding: $spacer2 $spacer4;
  box-sizing: border-box;
  transition: 0.3s;
}

.nav__list {
  display: flex;
  justify-content: space-between;

  @at-root #{&}__item {
    transition: 0.2s;

    @at-root #{&}--active {
      color: $default-text-color;
    }

    &:hover {
     color: $default-text-color; 
    }
  }
}

.project {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-right: $spacer2;

  @at-root #{&}__tab {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
    width: 0.25rem;
    height: 1rem;
    background-color: $default-text-color;
    transition: 0.3s;

    &--hover {
      width: $spacer1 + 0.25rem;
    }

    &--click {
      width: $spacer2 + 0.25rem;
    }
  }

  @at-root #{&}__title {
    margin-left: $spacer1;
    transition: 0.3s;

    &--hover {
      margin-left: $spacer2;
    }

    &--click {
      margin-left: $spacer3;
    }
  }

  @at-root #{&}__expand {
    width: 1rem;
    height: 1rem;
    background: 
      linear-gradient($default-text-color, $default-text-color),
      linear-gradient($default-text-color, $default-text-color),
      $default-background-color;
    background-position: center;
    background-size: 100% 2px, 2px 100%;
    background-repeat: no-repeat;
    transition: 0.3s;
    opacity: 0;

    &--rotate {
      transform: rotate(45deg);
    }
  }
}

.fadeIn {
  opacity: 1;
  // visibility: visible;
}

.fadeOut {
  opacity: 0;
  // visibility: hidden;
}

.work {
  display: flex;
  position: relative;

  @at-root #{&}__list {
    position: relative;
    z-index: 2;
    width: 23rem;
  }

  @at-root #{&}__thumbnail {
    position: relative;
    width: calc(100% - 25% - 23rem);
  }

  @at-root #{&}__thumbnail__image {
    width: 100%;
    align-self: flex-start;
  }

  @at-root #{&}__details {
    padding-left: $spacer2;
    width: 25%;

    @at-root #{&}__button {
      border: none;
      padding: $spacer1/2 $spacer1;
      transition: 0.3s;
    }
  }
}

.foot-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: $spacer2 $spacer4;
  box-sizing: border-box;
}