@import "./reset.scss";
@import "./typography.scss";
@import "./mixins.scss";
@import "./constants.scss";

:root {
  --variable-text-color: #FFF;
}

#root {
  background-color: $default-background-color;
  transition: $timing;
}

body {
  height: 100%;
  position: relative;
}

a {
  color: $default-text-color;
  text-decoration: none;
}

.main {
  color: $default-text-color;
  background-color: $default-background-color;
  width: 100%;
  min-height: 100vh;
  transition: $timing;
}

.content {
  margin: auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  display: block;
  position: relative;
  padding: $spacer2 $spacer4;
  box-sizing: border-box;

  @include md {
    padding: $spacer2;
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;

  @at-root #{&}__item {
    transition: $timing;

    @at-root #{&}--active {
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  #home {
    @include xs {
      display: none;
    }
  }
}

.item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-right: $spacer2;

  @include md {
    margin-right: 0;
  }

  @at-root #{&}__tab {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
    width: 0.25rem;
    height: 1rem;
    background-color: $default-text-color;
    transition: $timing;

    &--hover {
      width: $spacer1 + 0.25rem;
    }

    &--click {
      width: $spacer2 + 0.25rem;
    }

    @include md {
      display: none;
    }
  }

  @at-root #{&}__title {
    margin-left: $spacer1;
    transition: $timing;

    &--hover {
      margin-left: $spacer2;
    }

    &--click {
      margin-left: $spacer3;
    }

    @include md {
      margin-left: 0;
    }
  }

  @at-root #{&}__expand {
    width: 1rem;
    height: 1rem;
    position: relative;
    transition: $timing;
    // opacity: 0;
    &::before {
      content: " ";
      position: absolute;
      display: block;
      background-color: var(--variable-text-color);
      width: 0.1rem;
      margin-left: -0.05rem;
      left: 50%;
      top: 0.05rem;
      bottom: 0.05rem;
      z-index: 5;
    }

    &::after {
      content: " ";
      position: absolute;
      display: block;
      background-color: var(--variable-text-color);
      height: 0.1rem;
      margin-top: -0.05rem;
      top: 50%;
      left: 0.05rem;
      right: 0.05rem;
      z-index: 5;
    }

    &--rotate {
      transform: rotate(45deg);
    }
  }

  @at-root #{&}--mobile {
    width: 100%;
    height: 1rem;
    cursor: default;
    margin-right: 0;
    transition: $timing;
  }
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

.sticky {
  position: sticky;
  top: $spacer3;
  align-self: flex-start;

  @include sm {
    position: sticky;
    top: $spacer3;
  }
}

.slideLeft {
  position: absolute;
  transform: translateX(-110%);
}

.slideRight {
  position: absolute;
  transform: translateX(110%);
}

.slideReset {
  position: sticky;
  transform: translateX(0);
}

.work {
  display: flex;
  position: relative;

  @include lg {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @at-root #{&}__list {
    z-index: 2;
    width: 23rem;
    transition: $timing;
  }

  @at-root #{&}__thumbnail {
    position: relative;
    width: calc(100% - 23rem - 25vw);
    overflow: hidden;
    transition: max-height $timing * 2;

    @include lg {
      order: 3;
      width: 100%;
    }
  }

  @at-root #{&}__thumbnail__image {
    width: 100%;
  }

  @at-root #{&}__details {
    width: 25vw;
    padding-left: $spacer2;
    box-sizing: border-box;
    transition: $timing;

    @include md {
      width: 100%;
    }

    @include md-lg {
      width: calc(100% - 25rem);
    }

    @include lg {
      padding-left: 0;
    }

    @at-root #{&}__button {
      border: none;
      padding: $spacer1/2 $spacer1;
      transition: $timing;
      display: block;
      width: intrinsic;
      width: -moz-max-content;
      width: -webkit-max-content;
      width: max-content;
    }
  }
}

.bottom-dropOff {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
}

.left-dropOff {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100%;
  width: 10rem;
}

.two-column {
  display: flex;
  justify-content: space-between;

  & > * {
    position: relative;
    max-width: 35vw;
  }

  @at-root #{&}__image {
    width: 30vw;
  }
}

.foot-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: $spacer2 $spacer4;
  box-sizing: border-box;

  @include md {
    padding: $spacer2;
  }

  #year {
    @include s {
      display: none;
    }
  }
}